

$dark-blue: rgb(55, 92, 160);
$fade-blue: rgb(107, 154, 255);
$header-height: 60px;
$footer-height: 200px;
$theme-white: rgb(217, 217, 217);
$pink: rgb(255, 80, 141);
$yellow: rgb(255, 238, 0);
$icon-grey: rgb(205, 205, 205);
$sky-blue: rgb(156, 233, 255);


//按钮请添加该选项

.btn-blue {
  color: white;
  cursor: pointer;
  /*background-color: rgb(107, 154, 255);*/
  background-color: rgb(55, 92, 160);
  transition: background-color 1s;
}

.btn-blue:hover {
  background-color: rgb(56, 106, 255);
}

.btn-red{
  color: white;
  cursor: pointer;
  background-color: rgb(255, 98, 59);
  transition: background-color 1s;
}

.btn-red:hover{
  background-color: rgb(255, 27, 16);
}

.btn-grey {
  color: white;
  background-color: rgb(156, 156, 156);
  outline: none;
  cursor: not-allowed;
}

.btn-grey {
  color: white;
  background-color: rgb(156, 156, 156);
}

/*超级链接*/
.mlink {

}

.mlink:hover{

}

.white-to-blue-link{

}

.white-to-blue-link:hover{

}

.blue-link{
  text-decoration: none;
  color: rgb(107, 154, 255);
  transition: color 1s;
}

.blue-link:hover{
  color: rgb(14, 29, 255)
}

.global-container{
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;
  padding-top: $header-height;
  height: inherit;
}
